body {
    font-family: 'Press Start 2P', cursive;
    background-image: url("./images/space.jpg");
    background-repeat: repeat;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: white;
}

#contentCol {
    background-color: black;
    width: 50%;
    height: 100%;
    min-height: 100%;
    margin: auto;
}

h1 {
    padding: 1em;
    margin-top: 0px;
    
}

#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 350px;
    width: 550px;
}

#rocket {
    position: absolute;
}

@keyframes fall {
    from {bottom: 250px;}
    to {bottom: 0px;}
}

.rocketFall {
    animation-name: fall;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}